.navbar-brand{
    font-family: 'Ubuntu',sans-serif;
    font-size: 2rem;
    font-weight: bold;
    
}



/* change Navigation color */

.navbar #myMenu .custom-nav .nav-item a{
    color: white;
}


.navbar #myMenu .custom-nav .nav-item a:hover{
    color: #f0aab1;
}